@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.bg_color{
    background-color: rgba(255, 144, 14, 0.1);
}
.brand{
    font-weight: 700;
    font-size: 2.5rem;

}
.display_flex{
    display: flex;
}
.color_gray{
    color:#424242;
}
.color_lightgray{
    color: #727272;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.nav_items{
    list-style: none;
    margin-right: 50px;
}

.nav_link{
    text-decoration: none;
    font-weight: 450;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
.banner{
    text-align: center;
}
.banner_content{
    max-width: 860px;
    margin: 0 auto;
    text-align: center;
}
.banner_title{
    font-weight: 700;
    font-size: 4em;
}
.p_btn{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    margin-bottom: 25px;
}
.banner_img{
    width: 100%;
}
@media screen and (max-width:576px){
    .navbar, .nav_link{
        flex-direction: column;
    }
}